/** 
    highlight: #7ac483;
    $grey_background: #f2f1f8;
    $grey_copy: #b9b7c6;
    $dark_grey: #3f3d4e;
**/

* {
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}

.button {
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.button_highlight,
.button:hover {
    background-color: #7ac483;
}

a:hover {
    color: #7ac483;
}

.button:hover {
    color: #fff;
}

.button_secondary {
    background-color: rgba(250, 250, 250, 0.35);
}

.button {
    padding: .3rem .7rem;
}

.cf:after,
.cf:before {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}


/** banner styles **/

#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#banner header {
    padding: 2rem 0;
}

#banner #logo {
    color: #fff;
    font-weight: 700;
    font-size: 1.35rem;
    float: left;
    margin: 0;
}

nav {
    float: right;
}

nav a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2rem;
    transition: 0.5s;
}

.content {
    padding: 4rem 0 6rem 0;
}

.content .title,
.content .sub_title {
    color: #fff;
    text-align: center;
}

.content .title {
    font-size: 3.5rem;
    margin: 0;
}

.sub_title {
    font-size: 1.35rem;
    font-weight: 400;
    width: 500px;
    margin: 0 auto 2rem auto;
    line-height: 1.65;
}

.content .button_wrapper {
    text-align: center;
    margin: 3rem 0;
}

.content .button_wrapper .button {
    margin: 0 0.75em;
}


/** services styles **/

#services {
    background: #f2f1f8;
    padding: 2rem 0 6rem 0;
    position: relative;
}

#services :before {
    content: "";
    position: absolute;
    bottom: 54px;
    left: 50%;
    border-top: 2px solid #c9c7d3;
    width: 59.5%;
    margin-left: -30.1%;
}

#services .service {
    background-color: #fff;
    width: 31%;
    float: left;
    margin: -5rem 1% 0 1%;
    padding: 3rem 2.5%;
    text-align: center;
    position: relative;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 57px 0px rgba(4, 5, 9, 0.25);
}

#services .service :after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50%;
    border-left: 2px solid #c9c7d3;
    height: 50px;
}

#services .service h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #3f3d4e;
}

#services .service p {
    margin: 0 0 2rem 0;
    color: #3f3d4e;
}

#services .service .button {
    padding: .5rem .3rem;
}